.mySlides {
    display:none;
}

.w3-section {
    margin: 9.95em auto !important;
    height: 47.25em;
    background: #fff !important;
}

.logo {
    width: 35%;
    float: left;
}

.header-content {
    margin: 15px 5px;
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
}

.bookCarButton {
    margin: 0px auto;
    text-align: center;
    font-size: 7.5em;
    height: 1.25em;
}

.call {
    margin: 0 25%;
    width: 45em;
}

.banner {
    color: #fff !important;
}

.contact-image {
    width: 10em;
    height: 10em;
    border-radius: 50%; 
}

.about-us-details {
    text-align: center;
}

.navbar-brand > span :hover {
    color: #fff !important;
}

.navbar-nav > li :hover {
    color: #ddd !important;
}

.dropdown-menu.show > a:hover {
    background: #eee !important;
    color: #000 !important;
}

.payment {
    width: 20%;
}

.dropdown-item {
    padding: 0.25rem 1rem !important;
    border-bottom: 1px solid #eee !important;
}

.blankSpan {
    margin: 0 5px;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

#animated-content {
    display: block;
    /* display: none; */
}

#main-content {
    /* display: block; */
    position: absolute;
    top: -1.9em;
    background: #eee !important;
    background-repeat: no-repeat;
    display: none;
}

#aboutUs {
    margin: 0 0 1em 0;
}

.page-footer {
    font-weight: 700;
    background: #49A9D9;
}

.footer-copyright {
    background-color: #4285F4;
    color: #fff;
    font-weight: 700;
}

.cities span {
    padding: 0 1em 0 0;
}

